@import "../../app/variables.scss";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;

    h2 {
        margin-bottom: 40px;
    }

    .result {
        background: transparent;
        border: 1px solid black;
        font-size: 1rem;
        width: 200px;
        height: 50px;
        border-radius: 14px;
        cursor: pointer;
        transition: 0.2s all ease;

        &:hover {
            background: $secondary-blue;
            color: $main-white;
        }
    }
}

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    .modal {
        // width: 50%;
        background: $main-white;
        padding: 50px 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        h2 {
            text-align: center;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 3rem;
            margin-bottom: 20px;
            color: $secondary-blue;
        }

        button {
            border: none;
            font-size: 2rem;
            padding: 10px 30px;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            background: #0a880a;
        }
    }
}